<%= javascript_include_tag "time_calculator" %>
<div class="form">
  <%= form_for(@tournament) do |t| %>
  <div class="field">
    <table>
      <tr>
        <th><%= t.label :name %></th>
        <th><%= t.label :place %></th>
        <th><%= t.label :final_fight_length %></th>
        <th><%= t.label :group_fight_length %></th>
      </tr>
      <tr>
        <td><%= t.text_field :name %></td>
        <td><%= t.text_field :place %></td>
        <td><%= t.text_field :final_fight_len %></td>
        <td><%= t.text_field :group_fight_len %></td>
      </tr>
    </table>
  </div>
  <div class="actions">
    <%=t.submit "Create" %>
  </div>
  <% end %>
</div>

<div class="item_list">
  <div class="form">

    <table>
      <%= form_for [@tournament,@location] do |l| %>
      <div class="field">
        <tr>
          <th><%= l.label :name %></th>
          <th></th>
        </tr>
        <tr>
          <td><%= l.text_field :name %></td>
          <td><div class="actions">
            <%=l.submit :create %>
          </div>
        </tr>
      </div>
      <% end %>
    </div>
    <% @locations.each do |l| %>
    <div class="item_row">
      <tr>
        <td><%= l.name %></td>
        <td><div class="actions"><%= link_to :edit, edit_tournament_location_path(@tournament,l) %></div></td>
        <td><div class="actions"><%= link_to "delete", tournament_location_path(@tournament,l), method: :delete,
        data: { confirm: "You sure?" } %></div></td>
      </tr>
      <% end %>
    </div>
  </table>
</div>
</div>
<div class="item_list">
  <table>
    <tr>
      <th><%= :name %></th>
      <th><%= :surname %></th>
      <th><%= :club %></th>
      <th><%= :rank %></th>
      <th colspan="1"><%=  :action %></th>
    </tr>
    <% @players.each do |p| %>
    <div class="item_row">
      <tr>
        <td><%= p.name %></td>
        <td><%= p.surname %></td>
        <td><%= p.club %></td>
        <td><%= Rank.find(p.rank_id).name %></td>
        <td><div class="actions"><%= link_to :edit, edit_player_path(p) %></div></td>
      </tr>
      <% end %>
    </table>
  </div>
  <% if 0==@groups.size %>
  <div>
    <div>Players number:
      <span id="teams_number"> <%= @players.size %> </span>
    </div>
    <div>Players from groups:
      <span id="calculated_teams_number" class="to_calculate">1</span>
    </div>
    <div>finals fights lenght
      <input type="number" min="0" id="finals_time" class="to_calculate" value="<%= @tournament.final_fight_len %>"/>
    </div>
    <div>groups fights length
      <input type="number" min="0" id="groups_time" class="to_calculate" value="<%= @tournament.group_fight_len %>"/>
    </div>
    <div>locations: <span id="locations"> <%= @locations.size %> </span>
    </div>
    <div>4 players groups
      <input type="number" min="0" id="four_team_groups" class="to_calculate" value="<%= @four_team_groups %>"/>
    </div>
    <div>3 players groups
      <input type="number" min="0" id="three_team_groups" class="to_calculate" value="<%= @three_team_groups %>"/>
    </div>
    <div>2 players groups
      <input type="number" min="0" id="two_team_groups" class="to_calculate" value="<%= @two_team_groups %>"/>
    </div>
    <div>finals fights number:
      <input type="number" min="0" id="finals" class="to_calculate" value="<%= @finals_fights %>"/>
    </div>
    <div>pre finals fights number:
      <input type="number" min="0" id="prefinals" class="to_calculate" value="<%= @pre_finals_fights %>"/>
    </div>
  </div>
  <div> Finals lenght: <span id="finals_length"><%= @groups_length %></span></div>
  <div> Groups length: <span id="groups_length"><%= @finals_length %></span></div>

  <a href="" id="gen_link" data-method="PATCH">Generate!</a>
  <% else %>
  <div class="sum_up">
    <div> Players: <%= @players.size %> Locations: <%= @locations.size %></div>
    <div> Suggested groups number: <%= @groups_no %></div>
    <% unless 0 == @four_team_groups  %>
    <div> Suggested 4 player groups: <%= @four_team_groups %> </div>
    <% end %>
    <% unless 0 == @three_team_groups  %>
    <div> Suggested 3 player groups: <%= @three_team_groups %> </div>
    <% end %>
    <% unless 0 == @two_team_groups  %>
    <div> Suggested 2 player groups: <%= @two_team_groups %> </div>
    <% end %>
    <div>Finals fights number: <%= @finals_fights %> </div>
    <div>Prefinals fights number: <%= @pre_finals_fights %> </div>
    <div>Anticipated group phase length: <%= @groups_length %></div>
    <div>Anticipated final phase length: <%= @finals_length %></div>
  </div>

  <div class="item_list">
    <table>
      <thead>
        <tr>
          <th><%= :group_name %></th>
          <th><%= :group_location %></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each { |g| %>
          <tr class="group">
            <td class="group">Group <%= g.name %></td>
            <td class="group"><%= g.location.name %></td>
          </tr>
          <tr>
            <td colspan="2">
              <table class="players">
                <thead>
                  <tr>
                    <th><%= :position %> </th>
                    <th><%= :name %></th>
                    <th><%= :surname %></th>
                    <th><%= :club %></th>
                    <th><%= :rank %></th>
                  </tr>
                </thead>
                <tbody>
                  <% g.group_members.each { |m| %>
                    <% p = m.player %>
                    <tr>
                      <td><%= m.position%></td>
                      <td><%= truncate(p.name, length: 25) %></td>
                      <td><%= truncate(p.surname, length: 25) %></td>
                      <td><%= truncate(p.club, length: 25) %></td>
                      <td><%= Rank.find(p.rank_id).name %></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table class="fights">
                  <thead>
                    <tr>
                      <th><%= :aka %></th>
                      <th><%= :aka_pts %></th>
                      <th><%= :shiro_pts %></th>
                      <th><%= :shiro %></th>
                      <th><%= :state %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% g.group_fights.each { |gf|%>
                        <% f = Fight.find(gf.fight_id) %>
                        <tr class='<%="#{f.fight_state.name}"%>'>
                        <td><span class="position"><%= GroupMember.find_by(player_id: f.aka.id,group_id: g.id).position%></span> <%=truncate(f.aka.name+" "+f.aka.surname,length: 25)%></td>
                        <td><%=f.aka_points%></td>
                        <td><%=f.shiro_points%></td>
                        <td><span class="position"><%= GroupMember.find_by(player_id: f.shiro.id,group_id: g.id).position%></span> <%=truncate(f.shiro.name+" "+f.shiro.surname, length:25)%></td>
                        <td><%=link_to f.fight_state.name , edit_fight_path(f)%></td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr class="spacer"></tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <% end %>
        <a href="<%=tournament_path(@tournament)%>" id="hi" style="visibility: hidden;">a</a>
