<%= javascript_include_tag "time_calculator" %>
<div class="form">
  <%= form_for(@tournament) do |t| %>
  <div class="field">
    <table>
      <tr>
        <th><%= t.label :name %></th>
        <th><%= t.label :place %></th>
        <th><%= t.label :final_fight_length %></th>
        <th><%= t.label :group_fight_length %></th>
      </tr>
      <tr>
        <td><%= t.text_field :name %></td>
        <td><%= t.text_field :place %></td>
        <td><%= t.text_field :final_fight_len %></td>
        <td><%= t.text_field :group_fight_len %></td>
      </tr>
    </table>
  </div>
  <div class="actions">
    <%=t.submit "Create" %>
  </div>
  <% end %>
</div>

<div class="item_list">
  <div class="form">

    <table>
      <%= form_for [@tournament,@location] do |l| %>
      <div class="field">
        <tr>
          <th><%= l.label :name %></th>
          <th></th>
        </tr>
        <tr>
          <td><%= l.text_field :name %></td>
          <td><div class="actions">
            <%=l.submit :create %>
          </div>
        </tr>
      </div>
      <% end %>
    </div>
    <% @locations.each do |l| %>
    <div class="item_row">
      <tr>
        <td><%= l.name %></td>
        <td><div class="actions"><%= link_to :edit, edit_tournament_location_path(@tournament,l) %></div></td>
        <td><div class="actions"><%= link_to "delete", tournament_location_path(@tournament,l), method: :delete,
                                      data: { confirm: "You sure?" } %></div></td>
      </tr>
      <% end %>
    </div>
  </table>
</div>
</div>
<div class="item_list">
<table>
  <tr>
  <th><%= :name %></th>
  <th><%= :surname %></th>
  <th><%= :club %></th>
  <th><%= :rank %></th>
  <th colspan="1"><%=  :action %></th>
</tr>
<% @players.each do |p| %>
<div class="item_row">
<tr>
  <td><%= p.name %></td>
  <td><%= p.surname %></td>
  <td><%= p.club %></td>
  <td><%= Rank.find(p.rank_id).name %></td>
  <td><div class="actions"><%= link_to :edit, edit_player_path(p) %></div></td>
</tr>
<% end %>
</table>
</div>
<% if 0==@groups.size %>
<div>
  <div>Players number:
    <input type="number" id="teams_number" class="to_calculate" value="<%= @players.size %>"/>
  </div>
  <div>finals fights lenght
    <input type="number" id="finals_time" class="to_calculate" value="<%= @tournament.final_fight_len %>"/>
  </div>
  <div>groups fights length
    <input type="number" id="groups_time" class="to_calculate" value="<%= @tournament.group_fight_len %>"/>
  </div>
  <div>locations: <span id="locations"> <%= @locations.size %> </span>
  </div>
  <div>4 players groups
    <input type="number" id="four_team_groups" class="to_calculate" value="<%= @four_team_groups %>"/>
  </div>
  <div>3 players groups
    <input type="number" id="three_team_groups" class="to_calculate" value="<%= @three_team_groups %>"/>
  </div>
  <div>2 players groups
    <input type="number" id="two_team_groups" class="to_calculate" value="<%= @two_team_groups %>"/>
  </div>
  <div>finals fights number:
    <input type="number" id="finals" class="to_calculate" value="<%= @finals_fights %>"/>
  </div>
  <div>pre finals fights number:
    <input type="number" id="prefinals" class="to_calculate" value="<%= @pre_finals_fights %>"/>
  </div>
</div>
<div> Finals lenght: <span id="finals_length"><%= @groups_length %></span></div>
<div> Groups length: <span id="groups_length"><%= @finals_length %></span></div>

<a href="" id="gen_link" data-method="PATCH">Generate!</a>
<% else %>
<div class="sum_up">
  <div> Players: <%= @players.size %> Locations: <%= @locations.size %></div>
  <div> Suggested groups number: <%= @groups_no %></div>
  <% unless 0 == @four_team_groups  %>
  <div> Suggested 4 player groups: <%= @four_team_groups %> </div>
  <% end %>
  <% unless 0 == @three_team_groups  %>
  <div> Suggested 3 player groups: <%= @three_team_groups %> </div>
  <% end %>
  <% unless 0 == @two_team_groups  %>
  <div> Suggested 2 player groups: <%= @two_team_groups %> </div>
  <% end %>
  <div>Finals fights number: <%= @finals_fights %> </div>
  <div>Prefinals fights number: <%= @pre_finals_fights %> </div>
  <div>Anticipated group phase length: <%= @groups_length %></div>
  <div>Anticipated final phase length: <%= @finals_length %></div>
</div>

<div class="item_list">
  <table>
    <div class="item_row">
      <thead>
      <tr>
        <th colspan="5"><%= :group_name %></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each { |g| %>
        <tr>
          <td colspan="5" rowspan="1">Group <%= g.name %> <%=g.group_members.count%></td>
        </tr>
        <% g.group_members.each { |m| %>
          <% p = m.player %>
          <tr>
            <td><%= m.position%></td>
            <td><%= p.name %></td>
            <td><%= p.surname %></td>
            <td><%= p.club %></td>
            <td><%= Rank.find(p.rank_id).name %></td>
          </tr>
        <% } %>
        <% g.group_fights.each { |gf|%>
          <tr>
            <% f = Fight.find(gf.fight_id) %>
            <td><%= GroupMember.find_by(player_id: f.aka.id,group_id: g.id).position%></td>
            <td><%=f.aka.name%> <%=f.aka.surname%></td>
            <td><%= GroupMember.find_by(player_id: f.shiro.id,group_id: g.id).position%></td>
            <td><%=f.shiro.name%> <%=f.shiro.surname%></td>
            <td><%=f.location.name%></td>
          </tr>
        <%}%>
      <% } %>
    </tbody>
    </table>
  </div>
</div>
<% end %>
<a href="<%=tournament_path(@tournament)%>" id="hi" style="visibility: hidden;">a</a>
