<div class="form">
  <%= form_for(@tournament) do |t| %>
  <div class="field">
    <table>
      <tr>
        <th><%= t.label :name %></th>
        <th><%= t.label :place %></th>
        <th><%= t.label :final_fight_length %></th>
        <th><%= t.label :group_fight_length %></th>
      </tr>
      <tr>
        <td><%= t.text_field :name %></td>
        <td><%= t.text_field :place %></td>
        <td><%= t.text_field :final_fight_len %></td>
        <td><%= t.text_field :group_fight_len %></td>
      </tr>
    </table>
  </div>
  <div class="actions">
    <%=t.submit "Create" %>
  </div>
  <% end %>
</div>

<div class="item_list">
  <div class="form">

    <table>
      <%= form_for [@tournament,@location] do |l| %>
      <div class="field">
        <tr>
          <th><%= l.label :name %></th>
          <th></th>
        </tr>
        <tr>
          <td><%= l.text_field :name %></td>
          <td><div class="actions">
            <%=l.submit :create %>
          </div>
        </tr>
      </div>
      <% end %>
    </div>
    <% @locations.each do |l| %>
    <div class="item_row">
      <tr>
        <td><%= l.name %></td>
        <td><div class="actions"><%= link_to :edit, edit_tournament_location_path(@tournament,l) %></div></td>
        <td><div class="actions"><%= link_to "delete", tournament_location_path(@tournament,l), method: :delete,
                                      data: { confirm: "You sure?" } %></div></td>
      </tr>
      <% end %>
    </div>
  </table>
</div>
<div class="sum_up">
  <div> Players: <%= @players.size %> Locations: <%= @locations.size %></div>
</div>
<div class="suggestion">
  <div> Suggested groups number: <%= @groups %></div>
  <% unless 0 == @four_team_groups  %>
  <div> Suggested 4 player groups: <%= @four_team_groups %> </div>
  <% end %>
  <% unless 0 == @three_team_groups  %>
  <div> Suggested 3 player groups: <%= @three_team_groups %> </div>
  <% end %>
  <% unless 0 == @two_team_groups  %>
  <div> Suggested 2 player groups: <%= @two_team_groups %> </div>
  <% end %>
  <div>Anticipated group phase length: <%= @groups_length %></div>
  <div>Anticipated final phase length: <%= @finals_length %></div>

</div>
<div class="item_list">
<table>
  <tr>
  <th><%= :name %></th>
  <th><%= :surname %></th>
  <th><%= :club %></th>
  <th><%= :rank %></th>
  <th colspan="1"><%=  :action %></th>
</tr>
<% @players.each do |p| %>
<div class="item_row">
<tr>
  <td><%= p.name %></td>
  <td><%= p.surname %></td>
  <td><%= p.club %></td>
  <td><%= Rank.find(p.rank_id).name %></td>
  <td><div class="actions"><%= link_to :edit, edit_player_path(p) %></div></td>
</tr>
<% end %>
</table>
</div>
