  <table class="locations">
    <tr>
      <% @locations.each {|l| %>
        <td><%=l.name%></td>
        <%}%>
      </tr>
      <tr>
        <% @locations.each {|l| %>
          <td class="locations">
              <% l.groups.each {|g|%>
                <div class="group-player-view">
                  <table>
                    <tbody>
                      <tr class="group">
                        <td class="group"><b>Group <%= g.name %></b></td>
                      </tr>
                      <tr>
                        <td colspan="1">
                          <table class="players">
                            <thead>
                              <tr>
                                <th><%= :pos %> </th>
                                <th><%= :name %></th>
                              </tr>
                            </thead>
                            <tbody>
                              <% g.group_members.each { |m| %>
                                <% p = m.player %>
                                <tr>
                                  <td><%= m.position%></td>
                                  <td><%= truncate(p.name + " " + p.surname, length: 25) %></td>
                                </tr>
                                <% } %>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <%}%>
                </td>
            <%}%>
            </tr>
            <tr>
              <% @locations.each {|l| %>
                <td class="locations">

              <div class="group-fight-view">
                <table class="fights">
                  <thead>
                    <tr>
                      <th><%= :aka %></th>
                      <th><%= :aka_pts %></th>
                      <th><%= :shiro_pts %></th>
                      <th><%= :shiro %></th>
                      <th><%= :status %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% l.groups.each {|g|%>
                      <tr><td colspan="5">Group <%= g.name %> </td></tr>
                    <% g.group_fights.each { |gf|%>
                      <% f = Fight.find(gf.fight_id) %>
                      <tr class='<%="#{f.fight_state.name}"%>'>
                        <td><span class="position"><%= GroupMember.find_by(player_id: f.aka.id,group_id: g.id).position%></span> <%=truncate(f.aka.name+" "+f.aka.surname,length: 25)%></td>
                        <td><%=f.aka_points%></td>
                        <td><%=f.shiro_points%></td>
                        <td><span class="position"><%= GroupMember.find_by(player_id: f.shiro.id,group_id: g.id).position%></span> <%=truncate(f.shiro.name+" "+f.shiro.surname, length:25)%></td>
                        <td><%=f.fight_state.name%></td>
                      </tr>
                      <% } %>
                      <tr class="spacer"/>
                                      <%}%>
                    </tbody>
                  </table>
                </div>

              </td>
              <%}%>
            </tr>
          </table>
