<div class="item_list">
  <%= form_for(@player) do |p| %>
  <table>
    <tr>
      <th><%= p.label :name %></th>
      <th><%= p.label :surname %></th>
      <th><%= p.label :club %></th>
      <th><%= p.label :rank %></th>
      <th colspan="2"><%= p.label :action %></th>
    </tr>
    <tr>
      <td><%= p.text_field :name %></td>
      <td><%= p.text_field :surname %></td>
      <td><%= p.text_field :club %></td>
      <td><%= p.collection_select :rank_id, Rank.order(:id),:id,:name, include_blank: false %></td>
      <td colspan="2"><div class="actions">
        <%=p.submit :create %>
      </div></td></tr>
      <% @players.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.surname %></td>
        <td><%= p.club %></td>
        <td><%= Rank.find(p.rank_id).name %></td>
        <td><div class="actions"><%= link_to :edit, edit_player_path(p) %></div></td>
        <td><div class="actions"><%= link_to "delete", p, method: :delete,
        data: { confirm: "You sure?" } %></div></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>
