<div class="item_list">
  <%= form_for(@fight_state) do |f| %>
  <table>
    <tr>
      <th><%= f.label :name %></th>
      <th></th>
    </tr>
    <tr>
      <td><%= f.text_field :name %></td>
      <td><div class="actions">
        <%=f.submit :create %>
      </div></tr>
      <% @fight_states.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><div class="actions"><%= link_to :edit, edit_fight_state_path(f) %></div></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>
